
.nav-link {
    margin-left: 40px;
}


#supportHero{
 background-color: rgb(56,126,209);
 color: white;
}

#supportHero a{
    color: white;
}

#supportwrapper{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
    
}

#supportHero input{
    padding: 15px 45px;
    width: 100%;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}

